.card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
  position: relative;
  max-width: 275px;
  width: 100%;
}

.card-video-thumbnail {
  max-width: 275px;
  width: 100%;
}
.card-details {
  position: relative;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

.card-channel-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
   margin-left: 3.5rem;
}

.card-title {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    display: block;
    width: calc(100%);
    line-height: 1.3rem;
    font-weight: 500;
    /* letter-spacing: 0.5px; */
    max-height: 2.6rem;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: white-space; */
  }
  
  .card-channel-name {
    color: black;
    font-size: 0.85rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    text-align: left;
  }

.card-channel-logo{
  position: absolute;
  top: 5px;
  left:5px;
  border-radius: 50%;
  height: 45px;
  width:45px;
}



  @media (max-width: 550px) {
    .card {
      max-width: 100vw;
      width: 100%;
    }

     .card-details{
       display: flex;
       flex-direction: row;
      /* max-width: 50vw; */
    }
  }