.playlist-form {
  max-width: 100%;
  background: #e6d9d9;
  padding: 1rem;
}

.playlist-form .section-heading {
  display: inline-block;
  text-align: left;
  width: calc(100% - 1.5rem);
  padding-top: 0;
  margin-top: 0rem;
  margin-bottom: 0;
}

.playlist-list {
  max-height: 40vh;
  height: max-content;
  overflow: auto;
  padding: 0.5rem 0;
  list-style: none;
  padding-inline-start: 0;
  text-align: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.playlist-list li {
  margin: 0.5rem 0;
}

.input-playlist {
  border: 1px solid black;
  background: white;
  padding: 0.5rem;
  color: black;
  caret-color: black;
}

.input-playlist:focus {
  outline: none;
}

.btn-playlist {
  /* margin-top: 1rem; */
  padding: 0.3rem 0.5rem;
  color: #3ea6ff;
  cursor: pointer;
}
