.videopage {
  --width: 250px;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: calc(100% - (100% / var(--width)));
}

@media (max-width: 768px) {
  .videopage {
    flex-direction: column;
    /* margin: 4rem 0; */
  }
}

@media (max-width: 550px) {
  .videopage {
    padding: 0;
  }
}
  